.loginContainer {
  @apply flex items-start justify-center min-h-screen p-4;
  padding-top: 15vh;
}

.formContainer {
  @apply w-full max-w-md;
}

.form {
  @apply rounded-lg px-8 pt-8 pb-8 mb-4 transition-all duration-200;
}

/* Logo styles */
.logoContainer {
  @apply flex justify-center mb-10;
}

.logo {
  @apply w-auto h-20; /* Adjust height as needed */
  max-width: 200px; /* Prevents logo from getting too wide */
}

/* Light theme styles */
.lightTheme .form {
  @apply bg-white shadow-lg hover:shadow-xl;
}

.lightTheme .input {
  @apply text-gray-700 bg-white border-gray-300;
}

.lightTheme .input::placeholder {
  @apply text-gray-400;
}

/* Dark theme styles */
.darkTheme .form {
  @apply bg-gray-800 shadow-lg hover:shadow-xl;
}

.darkTheme .input {
  @apply text-white bg-gray-700 border-gray-600;
}

.darkTheme .input::placeholder {
  @apply text-gray-500;
}

/* Common styles */
.inputGroup {
  margin-bottom: 1.5rem;
}

.input {
  @apply shadow-sm appearance-none border rounded-md w-full 
         py-3 px-4 leading-tight focus:outline-none 
         focus:border-blue-500 focus:ring-2 focus:ring-blue-200 
         transition-all duration-200;
}

.buttonContainer {
  margin-top: 2rem;
}

.button {
  @apply w-full font-bold focus:outline-none focus:ring-2 
         focus:ring-blue-200 transition-all duration-200 
         transform hover:-translate-y-0.5;
  background-color: #0070f3;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 9999px;
}

.button:hover {
  background-color: #0051cc;
}